@use '@styles/_mixins' as *;

input.usa-input {
  @include input-styles;
  padding: 0rem 0.4rem;
  overflow-x: hidden !important;
  text-overflow: ellipsis !important;
}

.copy-button-group {
  display:inline-block !important;
}
