@use '@styles/_mixins' as *;
@use '@styles/_variables' as *;

input.usa-input {
  @include input-styles;
  padding: 0rem 0.4rem;
  overflow-x: hidden !important;
  text-overflow: ellipsis !important;
}

.muted-styles {
  background-color: #bdbdbd;
}

div.usa-hint {
  &.warning-message {
    font-style: italic;
    font-size: 15px;
    color: var(--text-color);
  }
}
