@import '../../style/variables';

.fixed-top-banner {
  height: 65px;
  left: 0;
  position: fixed !important;
  right: 0;
  top: 0;
  z-index: 1030;
}

.vl {
  border-left: 1px solid;
  border-image: linear-gradient(to bottom, rgba(0,0,0,0) 15%,$color-gray 15%,$color-gray 85%,rgba(0,0,0,0) 85%);
  border-image-slice: 1;
}