// Colors
$color-primary:             #6fc3db;
$color-primary-light:       #e3eef1;
$color-primary-dark:        #2c3e50;

$color-gray:                #9e9e9e;
$color-gray-light:          #e2e2e2;
$color-gray-dark:           #454545;

$color-white:               #ffffff;
$color-black:               #000000;