@use '@styles/_variables' as *;
@use '@styles/_theme' as theme;

.breadcrumb-list {
  padding-left: 10px;
  font-style: italic;
  padding-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;

  svg {
    vertical-align: middle;
    bottom: 1px;
  }
}

.breadcrumb-item {
  &:visited {
    color: $link-color;
  }

  &.active {
    color: $color-gray;
    font-style: normal;
  }
}

.usa-breadcrumb {
  background-color: var(--color-breadcrumbs) !important;
}

.breadcrumb-item.active {
  color: var(--color-breadcrumbs-text) !important;
}

.usa-breadcrumb__link:visited {
  color: var(--color-breadcrumbs-link-visited) !important;
}
