@use '@styles/_mixins' as mixin;
@use '@styles/_variables' as *;

@mixin select-container-styles {
  padding: 0;
  position: relative;

  .usa-select {
    @include mixin.input-styles;
    margin-top: 0;
    padding: 0;
    padding-left: 5px;

    &.usa-select:disabled {
      background-color: $input-disabled;
      cursor: default;
    }
  }

  &.is-invalid {
    select {
      border: 1px solid $color-error;
      padding-right: 3.25rem;
    }

    &:after {
      @include mixin.input-error-icon;
      background-position: right 0 top 0rem;
      content: '';
      height: 1.2rem;
      left: calc(100% - 3rem);
      pointer-events: none;
      position: absolute;
      top: 0.55rem;
      width: 1.2rem;
    }
  }
}

.select-container {
  @include select-container-styles;
}

div.usa-hint {
  &.warning-message {
    font-style: italic;
    font-size: 15px;
    color: $color-black;
  }
}
