@import '../../style/variables';

.dropzone {
  border: 1px dashed $color-gray-light;
  cursor: pointer;
  padding: 10px 5px;
  flex-grow: 6;

  &.active {
    border: 1px dashed $color-primary
  }

  p {
    margin: 0;
  }
}

.drag-input {
  align-items: center;
}
