@use '@styles/_variables' as *;
@use '@styles/_theme' as theme;

.nav-tabs {
  border-bottom: 1px solid #c8cacb !important;
  background-color: var(--color-tab-items);

  .nav-link.active {
    border-color: black black var(--color-tab-items) !important;
    background-color: var(--color-tab-items);
    color: #c8cacb;
  }
}
