@use '@styles/_theme' as theme;

.app-card-header {
  background-color: var(--color-card-header);
  border-bottom: 1px solid #c8cacb;
  display: block;
  margin-bottom: 0;
  padding: 13px 20px;
  z-index: 2;

  &:first-child {
    border-radius: calc(0.2rem - 1px) calc(0.2rem - 1px) 0;
  }
}
