.btn-outline-light {
  background-color: $color-primary-light !important;
  color: $color-black !important;
  border: 2px solid $color-primary !important;
  border-radius: .3rem !important;
}

.btn-info { 
  background-color: $color-gray-dark;
  border-color: $color-gray-dark;
  width: 20px;
}

.btn-info:hover, .btn-info:active, .btn-info:focus{
  color: $color-primary;
  background-color: $color-gray-dark !important;
  border-color: $color-gray-dark !important;
  outline: none !important;
  box-shadow: none !important;
}